<div class="nav">
    <div class="container-header">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <img src="../assets/trueid-logo.svg">
            </a>
        </div>
        <div>
            <form class="navbar-form nav-right">
                <div class="form-group">
                    <a>
                        <img src="../assets/user.png">
                    </a>
                    <a>
                        เข้าสู่ระบบ
                    </a>
                    <span>|</span>
                    <a>
                        สมัครสมาชิก
                    </a>
                </div>
            </form>
            <ul class="nav navbar-nav navigation">
                <li>
                    <a href="#">ดิสคัพเวอร์</a>
                </li>
                <li>
                    <a href="#">ดูทีวี</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-user></app-user>