<div>
    <div class="box-fixed">
        <div class="queueslider">
            <ul class="queue">
                <li class="queue-slide">
                    <a>
                        <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/6bf3fdb86b72829743b88b7ca6af9861/23fef3346c270dddcce8a7ad90cadd72.png">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/2ac8d151324ec6b75619aeccc71967c6/3bf4be8d538713ddffcd03b3465df653.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>กำลังฉาย</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="carousel">
            <div class="carousel-inner">
                <div class="active">
                    <div class="col-2">
                        <div class="movie-box">
                            <div class="card-live-now">
                                <img src="http://cms-streaming.truetv.tv/data_img/2016/01/logo_197.png" alt="logo1" class="logo-live-now" width="35px">
                                <p class="channel-name">TRUE EXPLORE SCI</p>
                            </div>
                            <span class="bg-lock">
                                <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                            </span>
                            <span class="current-view">
                                <span class="bg-view">
                                    <img src="http://truetv.trueid.net/assets/image/icon-currentviewer-white@1x.png" alt="">1
                                </span>
                            </span>
                            <img src="http://cms-streaming.truetv.tv/data_img/2016/01/logo_197.png" alt="" class="img-live-now">
                            <div class="play"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>พรีเมียมมาใหม่</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-loack">
                                        <img src="http://truetv.trueid.net/assets/image/apponly-th.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/427d60eaebae263e32104330cf45600a/3df0871396adc54c7bd44a768442500a.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>Born in China</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>เสียงจริง ตัวจริง Exclusive Content</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/15534ac3d368bebb50aa97ccd66e3254/587d46906c9b38a065f5cdccf7c1bdd0.png" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>สัปดาห์ที่ 1: ตอนที่ 1 ปราง </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>ศรีอโยธยา</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/cd9aff80a9155abc1dfaa41f1a86d487/eb74ffeb7b3e89d64ed7677963abfd6b.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>ตอนที่ 22 เจ้าฟ้าสังวาล ขัตติยนารีผู้ฝ่ากฎมณเฑียรบาล </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>หนังคอลเล็คชั่นประจำเดือน</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/TV_PROGRAM/9f755329e30a38ab66488b2ca1e02a3b/a4cee53c68e3b655cb7117f979b7be6c.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>เดอะ เทอร์มินัล ด้วยรักและมิตรภาพ </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>หนังฟรีไม่มีลิมิต</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/6917a5213262bf47e70359d1b11bbaff/64fa45366719e77d31d5fb0a8aa73e94.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>พ่อลูกผูกหัวใจฝัน </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>พรีเมียมทั้งหมด</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-loack">
                                        <img src="http://truetv.trueid.net/assets/image/apponly-th.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/80f4ac3f0c0f7eb6679887724f6c762a/ac0adbb02c03d572140187cc653d3324.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>เดอะ ฮอบบิท: การผจญภัยสุดคาดคิด </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>เร็วๆ นี้</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/dabce08b3a0f497708f527f5905522f7/a2d5ca72a2d2e30c1188d87827081494.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>วันเดอร์ วูแมน </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>หนัง</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/af43b8ee22064dad4ced3ff3c380c3f6/861310ae46650993ac1aa3665154996c.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>ม้าศึกจารึกโลก </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>ซีรี้</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/057a3a327bdc562a925785be05cf150c/7c250c36bc478c74bf1b1e7e1b95b057.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>ความลับของซุปตาร์ </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>วาไรตี้</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/6884d500018bb07d4aa1bfbccbe697e8/0817966d51796072983b6f4754b01ee2.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>Planet Coaster </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>สารคดี</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/ee882df1032271f1f6d64a5a6732eeba/0ba48a0f6252bbb40f431f6f33afb4cc.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>สู่ฟ้าเสวยสวรรค์ </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-cate-head">
            <ul class="header-category">
                <li class="li-header-category">
                    <h3>รายการเด็ก</h3>
                </li>
                <li class="li-category">
                    <button class="all-channel">
                        <span class="text">ช่องทั้งหมด</span>
                        <span class="glyphicon"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="active">
                        <div class="col-2">
                            <div class="box-movie">
                                <a>
                                    <span class="bg-lock">
                                        <img src="http://truetv.trueid.net/assets/image/icon-tagprice.png" alt="">
                                    </span>
                                    <img src="http://obmsbke.truevisions.tv/ImgLib/PACKAGE/cbc67289d220d975e0590679d5277edb/1572041a92858b68a71f5fff3078097c.jpg" alt="" class="img-movie-all">
                                </a>
                                <div class="container-card">
                                    <span>Pokemon Season 20 : Sun and Moon </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="opec-slide">
    <div class="footer">
        <div class="row">
            <div class="line">
                <div class="col-4">
                    <div>
                        <select id="lang" class="dropdown-footer">
                            <option value="en">Language: English</option>
                            <option value="th">ภาษา: ไทย</option>
                        </select>
                    </div>
                    <div class="logo-footer">
                        <img src="http://truetv.trueid.net/assets/image/logo-truevideo.png" alt="">
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>